* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  background-color: rgb(56, 70, 81);
}

body {
  min-width: 400px;
  background-color: silver;
}

ul {
  height: 130px;
  display:flex;
  margin-left: 10px;
}

li{
  margin-top: 40px;
  margin-inline-end: 20px;
  list-style-type: none;

}

#firstword {
  color: orangered;
  font-family: Arial;
  font-size: 50px;
}

#secondword {
  color: white;
  font-family: Arial;
  font-size: 50px;
}

#menu_icon{
  position: absolute;
  right: 5%;
  top: 5%;
  height: 65px;
  width: 50px;
}

table {
  width: 30%;
}

tr {
  display: flex;
  display: -ms-flexbox; 
  flex-wrap: wrap;
  -ms-flex-wrap: wrap; 
  margin:0 -12px;
  padding:10px 0;
}

td {
  flex: 22%;
  -ms-flex: 22%; 
  background-color: white;
  margin: 10px;
}

img {
  padding-bottom: 20px;
  width: 100%;
}

td:hover {
  transition: box-shadow .3s;
  box-shadow: 3px 3px 3px gray;
}

td:hover .button{
  visibility: visible;
  opacity: 1;
}

p{
  padding: 15px;
}

.button {
  background-color: rgb(253, 113, 79);
  color: white;
  border: none;
  padding: 13px 13px;
  margin-left: 15px;
  border-radius: 12px;
  visibility: hidden;
  opacity: 0;
  transition:visibility 1s, opacity 1s; 
}

@media screen and (max-width: 770px) {
  tr {
    display: flex;
    display: -ms-flexbox; 
    flex-wrap: wrap;
    -ms-flex-wrap: wrap; 
    margin:0 -20px;
    padding:15px 0;
  }
  td {
    -ms-flex: 43%;
    flex: 43%;
    margin-left: 18px;
    margin-right: 18px;
  }
}
