extends layout

block content
    h1= user.name

    h2= "Games"
    ul(class='ulRedirect')
        each game in user.gameList
            li(class='liRedirect')
                <h3> #{game.name} </h3>
