extends layout

block content
    h1= "TEST: Create a Game List"

    form(method='POST' action='')
        label(for='title') Title of Game List:
        input#title(type='text', name='title')
        br
        label(for='description') Description of Game List:
        input#description(type='textarea', name='description')
        br
        label(for='creatorUsername') Creator username:
        input#creatorUsername(type='text', name='creatorUsername')
        br
        div
            table
                thead
                    tr: th hi
                        tbody
                            each game in reduced_games
                                tr
                                    td
                                        img(src=game.img)
                                        label #{game.name}
                                        input(type='checkbox' name=game.name value='Update') 
                            else
                                p = 'empty'
                
        input(type='submit')


    
        
