extends layout

block content
    h1 "TEST: Game List Index"

    ul
    each gameList in gameLists
        li
            | Title:
            a(href=gameList.testUrl) #{gameList.title}
            | Creator: #{gameList.creatorUsername}
    else
        li "No Game Lists"