extends layout

block content
    h1= "TEST: Create a Game List"

    form(method='POST' action='')
        label(for='title') Title of Game List:
        input#title(type='text', name='title')
        br
        label(for='description') Description of Game List:
        input#description(type='text', name='description')
        br
        label(for='creatorUsername') Creator username:
        input#creatorUsername(type='text', name='creatorUsername')
        br
        input(type='submit')